@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300');

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

html {
    background: url('background.gif') center center fixed; /* Reemplaza 'tu-imagen-de-fondo.jpg' con la ruta de tu imagen */
  background-size: cover;
  background-repeat: no-repeat;
}

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  /* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/324479/Screenshot_(3).png'); */
  background: url('background.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  z-index: 250;
}

.login-modal {
    opacity: 0.8;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
}

.modal-inner {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: .5rem;
}

.modal-inner .modal-top {
  background: #2196F3;
  color: #fff;
  padding: 2rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  text-align: center;
}

.modal-inner .modal-top i {
  font-size: 2.25rem;
  margin-bottom: .25rem;
  display: block;
}

.modal-inner .modal-top h4 {
  font-weight: 200;
  margin-bottom: 0;
}

.modal-inner .modal-content {
  position: relative;
  background: #f5f5f5;
  border-radius: 0;
  border: 0;
  padding: 2rem;
  overflow: hidden;
  display: none;
}

.modal-inner .modal-bottom {
  background: #fff;
  padding: 1.5rem;
  text-align: center;
  border: 1px solid transparent;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.modal-btn {
  display: inline-block;
  border: 1px solid #ddd;
  padding: .75rem 2.25rem;
  border-radius: 5px;
  color: #424242;
  margin: .5rem;
}

.modal-btn:hover,
.modal-btn:focus {
  text-decoration: none;
  color: #2196F3;
}

.register-slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 2rem;
  transition: 600ms ease;
  transform: translateX(25vw);
}

@media (max-width: 1600px) {
  .register-slide {
    transform: translateX(100vw);
  }
}

.active-register {
  transform: translateX(0);
}

.login-form {
  transition: 600ms ease;
}

.move-form {
  transform: translateX(-25vw);
}

@media (max-width: 1600px) {
  .move-form {
    transform: translateX(-100vw);
  }
}

.register-link {
  position: relative;
  left: 1rem;
  top: 1px;
}

.close-register {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #999;
}

.close-register:hover,
.close-register:focus {
  color: #999;
  text-decoration: none;
}
